<header class="navbar navbar-default navbar-fixed-top navbar-paywall" role="navigation">
    <section class="topnav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" target="_self">Foosball Rankings</a>
            </div>
        </div>
    </section>
</header>